<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <link rel="shortcut icon" href="static/image/icon/favicon.png" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    
    {% block content -%}
        {%- block mainmenu -%}
            <ul class="mainmenu">
                {% for m in menu %}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
                {% endfor -%}
            </ul>
        {% endblock mainmenu -%}
<!--        <aside class="aside_left">-->
<!--            <div>-->
<!--                -->
<!--            </div>-->
<!--        </aside>-->
        
	{% endblock -%}

</body>
</html>