	{% extends 'base.html' %}

	{% block content %}
	{{ super() }}


	<div class="container">

		<!-- <p><a href="{{url_for('create_new_game')}}">Создать базовую новую игру</a></p> -->
		<div class="menu-btn" id="create-new-game">Создать быструю тестовую новую игру</div>

	</div>

	<hr>

	<div class="container">
		<p id="status-new-game">Расширенная настройка новой игры</p>
	
		<!-- Открыть модальное окно -->
		<button id="add-new-dynasty">Добавить игрока</button>

		<button id="create-new-set-game">
			Создать новую игру
		</button>
	</div>

	<!-- <div class="modal-choose" id="modal-set-dynasty">
			<div id="overlay"></div>
			<div id="modal-window-place">
				<div id="dynasty-name"></div>
				<div class="btn-close" id="btn-close7808">7808</div>
				<div class="btn-close" id="btn-close7809">7809</div>
				<div class="btn-close" id="btn-close7810">7810</div>
				<div class="btn-close" id="btn-close7812">7812</div>
			</div>
	</div> -->


	<!-- Модалка -->
	<div id="my-modal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="set-dynasty">
				<b>Добавление нового игрока</b> 
				<div>
					Выберите игрока:
					<select class="add-players" id="choose-players">
						<!-- <option value="001"></option>		 -->
					</select>
				</div>
			</div>
			<div class="set-dynasty">
				<div>
					Название династии(eng):
					<input type="text" id="name-eng" size="10px" value="">
				</div>
			</div>
			<div class="set-dynasty">
				<div>
					Название династии(rus):
					<input type="text" id="name-rus" size="10px" value="">
				</div>
			</div>
			<div class="set-dynasty">
				<div>
					Стартовое золото(не обязательно):
					<input type="text" id="start-gold" size="10px" value="">
				</div>
			</div>
			<div class="set-dynasty" id="add-dynasty">
				<div>
					<button>Добавить</button>
				</div>
			</div>
			
		</div>
	</div> 

	<div class="container">
		<div class="list"> 
			<div class="show-list" id="menu-buttons-choose">
			   <!-- Для отображения списка игроков -->
			</div>
		</div>
	</div>

	

		<script src="{{ url_for('static', filename='js/create-game.js') }}"></script>

	{% endblock %}