	{% extends 'base.html' %}

	{% block content %}
	{{ super() }}

<header>
    <div class="container">
        <div class="dashboard-turn">
            <div class="gold">
                <p id="player">Имя игрока</p>
            </div>
            <div class="year-turn">
                <p id="game-id">Номер игры</p>
            </div>
            <div class="end-turn-bool">
                <p id="game-date">Время создания игры</p>
            </div>
        </div>
        <div class="dashboard-turn">
            <div class="gold">
                <p id="gold">Золото: нету</p>
            </div>
            <div class="year-turn">
                <p id="year-turn">Год: -300(!) Ход: 1</p>
            </div>
            <div class="end-turn-bool">
                <p id="end-turn-bool">Завершен ли ход</p>
            </div>
            <div class="end-turn">                
                <div id="end-turn-btn" class="end-turn-btn">Отправить ход</div>
            </div>
            <div class="stats header-buttons">
                <input type="button" value="Отменить последний приказ" id="cancel-act">
                <input type="button" value="Отменить все приказы" id="cancel-all-acts">
                <!-- <input type="button" value="Вывести логи" id="act-logs"> -->


            </div>


        </div>
    </div>
</header>
<div class="container">
    <div class="dashboard">
        <div class="map-block">
            <img src="static/image/map/map2.png" alt="map">
        </div>
        <div class="menu-block">
            <!-- Главное меню -->
            <div class="menu-buttons menu-buttons-main"  id="main-menu-buttons">
                <div class="menu-btn" id="menu-colony">Строительство колоний</div>
                <div class="menu-btn" id="menu-trade">Торговля</div>
                <div class="menu-btn" id="menu-diplomaty">Дипломатия</div>

            </div>

            <!-- Строительство колоний -->
            <div class="menu-buttons menu-buttons-colony" id="menu-buttons-colony">
                <div class="menu-btn" id="menu-new-colony">Построить новую колонию(производство)</div>
                <div class="menu-btn menu-exit">Выход</div>
            </div>

            <!-- Торговля -->
            <div class="menu-buttons menu-buttons-trade" id="menu-buttons-trade">
                <div class="menu-buttons-choose" id="menu-buttons-show-trade">
                    <!-- <div class="menu-btn menu-exit">Выход</div> -->
                    <!-- Для отображения кнопок выбора новых пунктов в меню, строительство и торговля -->
                </div>
            </div>
            <div>
                <div class="choose-list"> <!-- Возможно лучше скрыть -->
                    <div class="menu-buttons-choose" id="menu-buttons-choose">
                        <!-- Для отображения кнопок выбора новых пунктов в меню, строительство и торговля -->
                    </div>
                </div>
            </div>

            <!-- Дипломатия. Тут статистика игроков -->
            <div class="menu-buttons menu-buttons-diplomaty" id="menu-buttons-diplomaty">
                <!-- <div class="menu-btn menu-exit">Выход</div> -->
                <div class="menu-buttons-choose" id="menu-buttons-show-diplomaty">
                    <!-- Для отображения кнопок выбора новых пунктов в меню, строительство и торговля -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="stats">
        <div class="province-name">
            <div id="province-name">Первая династия</div>
        </div>
        <div class="all-stats">
            <div class="two-stats">
                <div class="stats stats1">
                </div>
                <div class="stats stats2">
                </div>
            </div>
            <div class="two-stats">
                <div class="stats stats3">
                </div>
                <div class="stats stats4">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="container-act-logs">
        <div class="logs"> 
            <div id="logs"></div>
        </div>
    </div>
    <div class="container-local-logs">
        <div class="logs"> 
            <div id="logs-result"></div>
        </div>
    </div>
    <div class="container-all-logs">
        <div class="logs"> 
            <div id="all-logs-result"></div>
        </div>
    </div>
</div>

        <script src="{{ url_for('static', filename='js/game.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>

	{% endblock %}