{% extends 'base.html' %}

{% block content %}
{{ super() }}


<div class="container" style="font-size: 17px; margin-top: 30px;">
    <!-- <div>Планируется:</div> -->
    <table border="1">
        <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Динамичные цены в городах, высчитывается после продажи каждого товара.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Различные базовые цены на товары в городах.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Выбор количества продаваемого товара.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <td class="log-done">Постройки дорожают по типам, от количества уже построенных Новыя цена высчитывается в конце хода.</td>
        </tr>
        <tr>
            <td class="log-done">Исправлено</td>
            <td class="log-done" style="text-decoration: line-through;">Не работает меню дипломатии. Но там нет действий, просто более подробная инфа по странам.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td class="log-done">Отобразить цену на товары при выборе города для продажи.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td class="log-done">Переработать лог, убрать одинаковые строки.</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td>Доработать выбор количества товара для продажи, есть и баг и неудобство.</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td>Доделать эффекты от евентов, пока есть просто описание.</td>
        </tr>
        <tr>
            <td class="log-done">Сделано</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td class="log-done">Ограничить количество действий для игрока до 3-х, выводить подсказку.</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td>Переработать получение победных очков. Ввести дополнительные решения для игроков.</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <!-- <td style="background-color: rgb(212, 95, 95);">Планируется</td> -->
            <td>Переработать порядок хода игроков, добавить рандом.</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <td>Переработать типы построек, товаров, имена династий. Нужна помощь игроков</td>
        </tr>
        <tr>
            <td>Планируется</td>
            <td>Общий лог всей партии</td>
        </tr>
    </table>
</div>



{% endblock %}